ul {
    border-radius: 4px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #edf2f4;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  a{
    color: #2b2d42;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #8d99ae;
    color: #edf2f4;
  }
  
  .active {
    background-color: #2b2d42;
    color: #edf2f4;
  }